@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes revolve {
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  to {
    transform: scale(1.5);
  }
}

@keyframes rotateDiamond {
  to {
    transform: rotate(405deg);
  }
}

@keyframes rotateStar {
  to {
    transform: rotate(540deg);
  }
}

.sh {
  margin: 20px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Salsa", cursive;
  font-size: 3em;
  border-bottom: 3px dotted black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  margin-top: 45px;
}

.color {
  margin-right: 25px;
  height: 5px;
}

.shape {
  margin-left: 35px;
}

#circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: blue;
  border-radius: 50%;
  animation-name: rotate;
}

.button {
  position: relative;
  background-color: #260432;
  border: none;
  font-size: 28px;
  color: #ffffff;
  font-family: "Salsa", cursive;
  padding: 20px;
  width: 200px;
  height: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.square {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: rgb(115, 219, 155);
  animation-name: revolve;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 156.6px solid red;
  animation-name: rotate;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: orange;
  animation-name: revolve;
}

.diamond {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-bottom-color: purple;
  position: relative;
  transform: rotate(45deg);
  animation-name: rotateDiamond;
}

.star {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 156.6px solid gold;
  position: relative;
  transform: rotate(180deg);
  animation-name: rotateStar;
}
